<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3</title>
      <!-- import stylesheet -->
      <link rel="stylesheet" href="https://unpkg.com/view-ui-plus/dist/styles/viewuiplus.css">
    <style>
       
    </style>
</head>
<body>
    <div id="app">
        <template>
            <Button @click="value = true" type="primary">Open</Button>
            <Drawer title="Basic Drawer" :closable="false" v-model="value">
                <p>Some contents...</p>
                <p>Some contents...</p>
                <p>Some contents...</p>
            </Drawer>
        </template>
        
        <i-button @click="show">Click me!</i-button>
        <Modal v-model="visible" title="Welcome">Welcome</Modal>
    </div>
    <!-- Vue 3寫法(基本用這個) -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- import View UI Plus -->
    <script src="https://unpkg.com/view-ui-plus"></script>

    <script>     
        const app = Vue.createApp({
            data(){
                return {
                    visible: false,
                }
            },
            methods:{
                show(){
                    this.visible = true
                }
            },
            
        })
        app.use(ViewUIPlus);
        app.mount('#app')
        
    </script>
</body>
</html>