<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3</title>
    <style>
        img {
            width: 70%;
        }
        .pagination {
            width: 100%;
        }
        .list-item {
            width: 30%;
            display: inline-block;
            margin-top: 80px;
        }
        
    </style>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js"></script>
</head>
<body>
    <div id="app">

        <!-- <div class="pagination">
            <button v-for="page in 10" :key="page">{{page}}</button>
        </div> -->
        <div>
            date:<input type="date" v-model="startDate">
            <input type="date" v-model="endDate">
            
            <button @click="searchDate">搜尋</button>
            
        </div>
        <div class="list-item" v-for="item in product">
            <div class="card">
                <p><img src="https://fakeimg.pl/300x200/200"></p>
                <p>飯店名 : {{item.name}}</p>
                <p>價格 : {{item.price}}</p>
                <p>FROM : {{item.date_start}}</p>
                <p>TO : {{item.date_end}}</p>
            </div>
        </div>
        <hr>
        
        <div v-else class="productContainer">
            <div v-for="(item,index) in product" :key="item.id">
                <p>{{item.title}}</p>
                <img :src="" v-bind:alt="item.name">
                <p>{{item.price}}元</p>
                <div>
                    <button @click="reduceCount(index)">-</button>
                    <input type="number" min="0" v-model="count[index]">
                    <button @click="addCount(index, 1)">+</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Vue 3寫法(基本用這個) -->
    <script src="https://unpkg.com/vue@next"></script>
   
    <script>    
        //  dayjs.extend(window.dayjs_plugin_isBetween) 
        
        Vue.createApp({
            data(){
                return {
                    load:false,     
                    source:[],
                    count: [],
                    search:'',
                    filter: 0,
                    min:0,
                    max:0,
                    startDate:null,
                    endDate: null,
                    

                }
            },
           
            created() { 
                this.getResource()
            },
  
            mounted() {
            },
            computed:{
                product(){
                    // console.log(dayjs())
                    cache = this.source
                    // const c = dayjs();
                    // let datestart = dayjs(item.date_start).format('YYYY/MM/DD')
                    // let dateEnd = dayjs(this.date_end).format('YYYY/MM/DD')
                    // let from = dayjs(cache.date_start).format('YYYY/MM/DD')
                    // console.log(from)
                    let startDate = this.startDate
                    let endDate = this.endDate

                    // let from = dayjs(cache.date_start).format('YYYY/MM/DD')
                    let from = cache.date_start
                    console.log(from)
                    // console.log(this.startDate)
                    // console.log(this.endDate)
                    
                   
                    return cache
                },
                total(){ 
                        let total = 0
                        for(const countIndex in this.product){
                            total += this.count[countIndex]*this.product[countIndex]['price']
                        }
                        return parseInt(total)
                },

            },
            watch:{
                
            },
            methods:{
                getResource(){ //接api的方式
                    this.load = true
                    fetch('http://fake-hotel-api.herokuapp.com/api/hotels')
                    .then(res=>res.json())
                    .then(json=>{
                        console.log(json)
                        this.source = json
                        for( item in this.product){
                            this.count.push(0)
                        }
                        return {
                            startDate: dayjs(item.date_start).format('YYYY/MM/DD')
                        }
                        this.load = false
                    })
                },
                searchDate(){
                    const IsBetween = require('dayjs/plugin/IsBetween');
                    dayjs.extend(IsBetween);
                    console.log(this.startDate)
                    // dayjs.extend(window.dayjs_plugin_isBetween)
                    if(this.startDate !== '' && this.endDate !== ''){
                        this.source = this.cache.filter((item) => {
                            return dayjs(cache.date_start).isBetween(this.startDate, dayjs(this.endDate), 'year')
                        })
                    }
                }
            }
        }).mount('#app')    
    </script>
</body>
</html>