<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>計算機1</title>
    <style>
    
    </style>
</head>
<body>
    <div id="app">
        <input class="display" v-model="current"></input>
        <p>{{keyin}}</p>
        <div><button v-for="num in 9" @click="number(num)">{{num}}</button></div>
        <button @click="reduceCount">-</button>
        <button @click="addCount">+</button>
        <button @click="calc(x)">=</button>
        <button @click="clear">clear</button>


        <h2>result :{{result}}</h2>
    </div>


    <!-- Vue 3寫法(基本用這個) -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>     
        Vue.createApp({
            data(){
                return {
                    step: '',
                    result: '',
                    keyin: '',
                    sum: '',
                    arrNum:[],
                    current: '',
                    previous:'',
                    operator:null,
                    operatorClicked:false
                }
            },
            methods:{
                number(number){
                    if(this.keyin === '0' && number === 0 ) return//如果keyin 初始值為0
                    this.keyin += number.toString()//為了二位數以上數值輸入
                },
                addCount(){
                    this.operator = (a, b) => a + b;

                    this.setPrevious();

                },
                setPrevious(){
                    this.previous = this.current;
                    this.operatorClicked = true;
                },
                reduceCount(){
                 
                },
                calc(){
                    this
                },
                clear(){
                   
                }
                
            }
        }).mount('#app')
    </script>
</body>
</html>